In [ ]:
import cartopy

In [3]:
import pandas as pd
import json
import os

In [4]:
file_path = '/Users/beck/Documents/GitHub/cs-470-course-project/data/traffic-collision-data-from-2010-to-present.csv'
raw_data = pd.read_csv(file_path)
raw_data

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Premise Description,Address,Cross Street,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
0,191323054,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,130,13,Newton,1385,997,TRAFFIC COLLISION,NaN,...,STREET,SAN PEDRO ST,SLAUSON AV,"{'longitude': '-118.2696', 'human_address': '{...",22352.0,786.0,858.0,7.0,13.0,46.0
1,192020666,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,15,20,Olympic,2054,997,TRAFFIC COLLISION,NaN,...,STREET,OLYMPIC BL,KINGSLEY AV,"{'longitude': '-118.3031', 'human_address': '{...",22723.0,617.0,646.0,NaN,12.0,89.0
2,191616992,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,230,16,Foothill,1669,997,TRAFFIC COLLISION,NaN,...,STREET,TUJUNGA CANYON BL,LA TUNA CANYON RD,"{'longitude': '-118.2704', 'human_address': '{...",3222.0,5.0,227.0,NaN,1.0,7.0
3,191824082,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,730,18,Southeast,1802,997,TRAFFIC COLLISION,0605,...,STREET,88TH ST,MAIN ST,"{'longitude': '-118.2739', 'human_address': '{...",22352.0,800.0,358.0,7.0,14.0,45.0
4,191616980,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,720,16,Foothill,1689,997,TRAFFIC COLLISION,NaN,...,STREET,CROCKETT,SUNLAND,"{'longitude': '-118.3703', 'human_address': '{...",19335.0,166.0,272.0,NaN,3.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502853,100604050,2010-01-01T00:00:00.000,2010-01-01T00:00:00.000,335,6,Hollywood,637,997,TRAFFIC COLLISION,NaN,...,STREET,HOLLYWOOD BL,GOWER ST,"{'longitude': '-118.3224', 'human_address': '{...",23446.0,427.0,573.0,NaN,8.0,64.0
502854,101404164,2010-01-03T00:00:00.000,2010-01-01T00:00:00.000,1900,14,Pacific,1437,997,TRAFFIC COLLISION,1501,...,STREET,VENICE BL,SEPULVEDA,"{'longitude': '-118.4172', 'human_address': '{...",23451.0,896.0,1239.0,NaN,6.0,74.0
502855,101204051,2010-01-01T00:00:00.000,2010-01-01T00:00:00.000,900,12,77th Street,1259,997,TRAFFIC COLLISION,NaN,...,STREET,AVALON BL,75TH ST,"{'longitude': '-118.2652', 'human_address': '{...",22352.0,790.0,998.0,7.0,13.0,46.0
502856,100304221,2010-01-05T00:00:00.000,2010-01-01T00:00:00.000,245,3,Southwest,378,997,TRAFFIC COLLISION,0605,...,STREET,FIGUEROA,39TH ST,"{'longitude': '-118.2827', 'human_address': '{...",23668.0,727.0,977.0,7.0,13.0,32.0
502857,101804056,2010-01-02T00:00:00.000,2010-01-01T00:00:00.000,2100,18,Southeast,1822,997,TRAFFIC COLLISION,NaN,...,STREET,FIGUEROA ST,CENTURY BL,"{'longitude': '-118.2826', 'human_address': '{...",22352.0,803.0,1165.0,7.0,14.0,45.0

In [6]:
raw_data['Premise Description'].unique()

array(['STREET', 'PARKING LOT', 'SIDEWALK', 'GAS STATION',
       'OTHER BUSINESS', 'OTHER PREMISE', 'FREEWAY',
       'NIGHT CLUB (OPEN EVENINGS ONLY)', 'LIQUOR STORE',
       'GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)',
       'PEDESTRIAN OVERCROSSING', 'ALLEY', nan, 'SINGLE FAMILY DWELLING',
       'AUTOMATED TELLER MACHINE (ATM)',
       'TRANSPORTATION FACILITY (AIRPORT)', 'GARAGE/CARPORT', 'HOSPITAL',
       'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)', 'POLICE FACILITY',
       'OTHER/OUTSIDE', 'PARKING UNDERGROUND/BUILDING', 'PARK/PLAYGROUND',
       'DRIVEWAY', 'YARD (RESIDENTIAL/BUSINESS)', 'DEPARTMENT STORE',
       'THE BEVERLY CENTER', 'DRIVE THRU*', 'BEACH',
       'LA UNION STATION (NOT LINE SPECIFIC)', 'VEHICLE, PASSENGER/TRUCK',
       'TRAIN TRACKS', 'RESTAURANT/FAST FOOD', 'VACANT LOT', 'TOW YARD*',
       'ELEMENTARY SCHOOL', 'SAVINGS & LOAN', 'THE GROVE', 'POST OFFICE',
       'STORAGE SHED', 'MORTUARY', 'CAR WASH', 'TUNNEL',
       'OFFICE BUILDING/OFFICE', 'HOTEL', 'VALET', 'OTHER RESIDENCE',
       'DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*',
       'TRAIN DEPOT/TERMINAL, OTHER THAN MTA', 'DODGER STADIUM', 'MARKET',
       'BANK', 'THE BEVERLY CONNECTION', 'BUS STOP',
       'BUS-CHARTER/PRIVATE', 'NURSING/CONVALESCENT/RETIREMENT HOME',
       'WAREHOUSE', 'LAUNDROMAT', 'FIRE STATION',
       'MTA - RED LINE - CIVIC CENTER/GRAND PARK',
       'BAR/SPORTS BAR (OPEN DAY & NIGHT)', 'JUNIOR HIGH SCHOOL',
       'CONSTRUCTION SITE', 'PUBLIC STORAGE',
       'SHOPPING MALL (COMMON AREA)', 'GOLF COURSE*',
       'MEDICAL/DENTAL OFFICES', 'ENTERTAINMENT/COMEDY CLUB (OTHER)',
       'PORCH, RESIDENTIAL', 'MTA - BLUE LINE - 103RD/WATTS TOWERS',
       'CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)',
       'TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)',
       "DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS WAREHOUSE)",
       'MTA PROPERTY OR PARKING LOT', 'CEMETARY*', 'OTHER STORE',
       "MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME",
       'MEMBERSHIP STORE (COSTCO,SAMS CLUB)*',
       'PROJECT/TENEMENT/PUBLIC HOUSING', 'HIGH SCHOOL',
       'BAR/COCKTAIL/NIGHTCLUB', 'MASSAGE PARLOR',
       'TERMINAL, OTHER THAN MTA',
       'OTHER RR TRAIN (UNION PAC, SANTE FE ETC', 'MOTEL', 'PET STORE',
       'METROLINK TRAIN', 'PAWN SHOP', 'MINI-MART',
       'REDLINE SUBWAY PLATFORM', 'SLIPS/DOCK/MARINA/BOAT',
       'MEDICAL MARIJUANA FACILITIES/BUSINESSES',
       'PRIVATE SCHOOL/PRESCHOOL', 'AUTO SUPPLY STORE*', 'BOWLING ALLEY*',
       'TRUCK, COMMERICAL', 'COLLEGE/JUNIOR COLLEGE/UNIVERSITY',
       'RECYCLING CENTER',
       "SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB",
       'AUTO SALES LOT', 'AIRCRAFT', 'CLOTHING STORE',
       'TV/RADIO/APPLIANCE', 'HARDWARE/BUILDING SUPPLY', 'MAIL BOX',
       'MTA BUS', 'TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*',
       'MANUFACTURING COMPANY', 'DRUG STORE', 'NAIL SALON', 'STAIRWELL*',
       'BUS, SCHOOL, CHURCH', 'BUS DEPOT/TERMINAL, OTHER THAN MTA',
       'LIBRARY'], dtype=object)

In [17]:
locations = pd.DataFrame(raw_data['Cross Street'])
locations

                           Cross Street
0       SLAUSON                      AV
1       KINGSLEY                     AV
2       LA TUNA CANYON               RD
3       MAIN                         ST
4                               SUNLAND
...                                 ...
502853  GOWER                        ST
502854                        SEPULVEDA
502855  75TH                         ST
502856  39TH                         ST
502857  CENTURY                      BL

[502858 rows x 1 columns]